/* ======================= BACKGROUND ======================= */

.bg-blue {
  background-color: #108ee9 !important;
}

.bg-lightblue {
    background-color: #18c1ff !important;
}

.bg-darkblue {
  background-color: #084a7a !important;
}

/* ======================= FONT COLOR ======================= */

.text-ligthblue {
  color: #18c1ff !important;
}

.text-blue {
  color: #108ee9 !important;
}

.btn-outline-blue {
  border: 2px solid #108ee9 !important;
}

.btn-language {
  border: 2px solid white !important;
  background-color: transparent !important;
  color: white !important;
}

/* ======================= BUTTON ======================= */

.btn-pink {
  background-color: #ff64ae !important;
}

.btn-yellow:hover {
  background-color: #ffcc3b !important;
  border: 2px solid #ffcc3b !important;
  color: black !important;
  
}

/* ======================= GENERAL ======================= */

body {
  background-color: #f5f5f5 !important;
}

.Mobile {
  display: none;
}

@media (max-width: 981px) {
  .Desktop {
    display: none;
  }

  .Mobile {
    display: block;
  }
}

.mobile-card {
  display: none;
}

.mobile-card1 {
  display: none;
}

.mobile-card2 {
  display: none;
}

.mobile-card3 {
  display: none;
}

/* ======================= HEADER ======================= */

nav {
  position: relative;
  top: 7px;
}

.nav-item {
  position: relative;
  padding-bottom: 10px;        
}

.dropdown a:hover {
  color: #cecece !important;
}

.dropdown {
  position: relative;
  top: 100%; 
  background: white;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  padding: 30px 100px 30px 20px;
  display: none;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  z-index: 9999;
}

.nav-item:hover .dropdown {
  display: flex;
  position: absolute;
}

header {
  position: relative;
  z-index: 10;
}

main, section, .container, .hero, .content {
  position: relative;
  z-index: 1;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.drawer-tab.active {
  color: #007bff;
  font-weight: bold;
  border-bottom: 2px solid #007bff;
}

@media (max-width: 991px) {
  .hamburger {
    display: flex;
  }

  .main-nav {
    position: fixed;
    top: 70px;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: white;
    color: #108ee9;
    transition: 0.3s ease;
    flex-direction: column;
    padding: 2rem;
    z-index: 999;
  }

  .main-nav.active {
    right: 0;
  }

  .main-nav a {
    color: #108ee9 !important;
    font-weight: 600;
    font-size: 1.1rem;
  }

  .main-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }

  .hamburger.active span:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active span:nth-child(2) {
      transform: translateY(-8px) rotate(-45deg);
  }

  .me-5 {
    display: none !important;
  }

  .nav-item:hover .dropdown {
    position: relative;
    display: flex;
    box-shadow: none;
    padding: 0;
  }
}

.mobile-drawer {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 9999;
  transform: translateY(-100%); 
  transition: transform 0.5s ease;
  overflow-y: auto;
}

.mobile-drawer.open {
  right: 0;
  transform: translateY(0);
}

.drawer-header img {
  width: 45px;
}

.drawer-tabs {
  font-size: 17px;
  font-weight: 600;
}

.drawer-tab {
  padding: 6px 14px;
  border-radius: 20px;
  color: #333;
  cursor: pointer;
}

.drawer-tab.active {
  background: #eaf5ff;
  color: #108ee9;
}

.text-lightblue {
  color: #108ee9;
}

.blue-line {
  height: 3px;
  width: 25%;
  background: #108ee9;
  border-radius: 10px;
  margin-top: 4px;
}

.accordion .accordion-item {
  margin-top: 20px;
  border: none;
}

.accordion-btn {
  all: unset;
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  color: #333;
}

.accordion-content {
  display: none;
  margin-top: 10px;
  
}

.accordion-item.open .accordion-content {
  display: block;
}

.acc-link {
  display: block;
  text-decoration: none;
  color: #555;
  margin-bottom: 8px;
}

.drawer-footer {
  background: #f7f7f7;
}

.btn-lang {
  background: rgb(249, 249, 249);
  border: 2px solid #108ee9;
  border-radius: 30px;
}

.btn-lang:hover {
  background: rgb(249, 249, 249);
  border: 2px solid #108ee9;
  border-radius: 30px;
}


.drawer-content {
  display: none;
}

.drawer-content.show {
  display: block;
}

.drawer-scroll-area {
  height: calc(100vh - 150px);  
  overflow-y: auto;
  padding-bottom: 10px;
}

.drawer-footer {
  position: sticky;
  bottom: 0;
  background: white;
  border-top: 1px solid #eee;
}
/* ======================= HERO ======================= */

.video-background {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover; 
  z-index: -1; 
}

.video-background::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, 
    #108ee9 0%,
    rgba(0, 102, 204, 0.8) 10%, 
    rgba(0, 102, 204, 0) 25%,   
    rgba(0, 102, 204, 0) 70%, 
    #108ee9 100%
      );
  z-index: 0;
  pointer-events: none;
}

.content {
  position: relative;
  color: white;
  text-align: center;
  top: 40%;
}

.hero-image {
  display: none;
}

@media (max-width: 981px) {
  #bg-video {
    display: none;
  }

  .hero-image {
    display: block;
  }
}

/* ======================= MAIN ======================= */

.first-row{
    padding-right: 10rem !important;
}

.first-row .first-img { 
  margin-left: 100px;
}

@media (min-width: 768px) { 
  .test {
    width: 65% !important;
  }

  .mobile-row {
    display: none;
  }
}

@media (max-width: 981px) {
  .main-text {
    display: none;
  }

  .first-row {
    display: none;
  }

  .mobile-row {
    display: block;
  }

}


/* ======================= DOMPETDIGITAL ======================= */


.DompetDigitalBg {
  position: relative;
  height: 250px; 
}

.DompetDigital {
  margin-top: 5rem;
  background-color: #f5f5f5;
}

.DompetDigitalBg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../Assets/DompetDigitalBg.png") center/cover no-repeat;
  filter: blur(1px) brightness(0.95);
  z-index: 0;
  border-radius: 20px;
}

.DompetDigitalImg {
  position: absolute; 
  bottom: 0px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 80%;
}

.DompetDigital h3 {
  font-family: Montserrat, sans-serif;
  color: #118ee9;
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.DompetDigital .Title{
  font-family: Montserrat, sans-serif;
  color: #313131;
  font-size: 52px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 8px;
}

.DompetDigital p {
  font-family: Montserrat, sans-serif;
  color: #727272 !important;
  font-size: 21px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 1px;
}

.DompetDigital .btn {
  border: 2px solid #118ee9;
  color: #118ee9;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.DompetDigitalMobile {
  display: none;
}

@media (max-width: 981px) {
  .DompetDigitalDesktop {
    display: none;
  }

  .DompetDigitalMobile {
    display: block;
  }
}


/* ======================= LAYANAN KEUANGAN ======================= */

.LayananKeuangan {
  margin-top: 15rem;
}

.LayananKeuangan h3 {
  font-family: Montserrat, sans-serif;
  color: #cfebff;
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.LayananKeuangan .Title{
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-size: 52px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 8px;
}

.LayananKeuangan p {
  font-family: Montserrat, sans-serif;
  color: #cfebff !important;
  font-size: 21px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 1px;
}

.LayananKeuangan .btn {
  border: 2px solid #ffffff ;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.LayananKeuanganBg {
  position: relative;
  height: 250px; 
  left: 1.5rem;
}


.LayananKeuanganBg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../Assets/LayananKeuanganBg.png") center/cover no-repeat;
  filter: blur(1px) brightness(0.95);
  z-index: 0;
  border-radius: 20px;
}

.LayananKeuanganImg {
  position: absolute; 
  bottom: -2px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 90%;
}

.LayananKeuangan h1 {
  font-size: 3.5rem !important;
}

.LayananKeuanganMobile {
  display: none !important;
}

.unscrollable-card-mobile {
  display: none !important;
}

@media (max-width: 981px) {
  .LayananKeuanganDesktop {
    display: none !important;
  }

  .LayananKeuanganMobile {
    display: block !important;
  }

  .unscrollable-card-desktop {
    display: none !important;
  }

  .unscrollable-card-mobile {
    display: block !important;
  }
}


/* ======================= GRID SCROLL ======================= */

.scroll-container {
  display: flex;
  gap: 1rem;
  scroll-snap-type: x mandatory;
  padding: 1rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; 
}

.scroll-container::-webkit-scrollbar {
  display: none; 
}

.custom-card {
  flex: 0 0 calc(33.33% - 1rem); 
  scroll-snap-align: start;
  margin-right: 1.5rem;
  height: 350px;
  overflow: hidden;
}

.scroll-wrapper {
  position: relative;
}

.scroll-btn {
  float: right;
  border: none;
  font-size: 1.5rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
  z-index: 10;
}

.right {
  background: #45ddd9;
  color: white;
}

.left {
  background: #e4e4e4;
  color: rgb(128, 128, 128);
}

.scroll-btn i {
  font-size: 2rem;
}

.grid-scroll-mobile {
  display: none;
}

@media (max-width: 981px) {
  .grid-scroll-desktop {
    display: none;
  }

  .grid-scroll-mobile {
    display: block;
  }
}


/* ======================= GAYA HIDUP ======================= */

.GayaHidupBg {
  position: relative;
  height: 250px; 
}

.GayaHidup {
  margin-top: 5rem;
  background-color: #f5f5f5;
}

.GayaHidupBg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../Assets/DompetDigitalBg.png") center/cover no-repeat;
  filter: blur(1px) brightness(0.95);
  z-index: 0;
  border-radius: 20px;
}

.GayaHidupImg {
  position: absolute; 
  bottom: -3px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 80%;
}

.GayaHidup h3 {
  font-family: Montserrat, sans-serif;
  color: #118ee9;
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.GayaHidup .Title{
  font-family: Montserrat, sans-serif;
  color: #313131;
  font-size: 52px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 8px;
}

.GayaHidup p {
  font-family: Montserrat, sans-serif;
  color: #727272 !important;
  font-size: 21px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 1px;
}

.GayaHidup .btn {
  border: 2px solid #118ee9;
  color: #118ee9;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.GayaHidupMobile {
  display: none !important;
}

@media (max-width: 981px) {
  .GayaHidupDesktop {
    display: none !important;
  }

  .GayaHidupMobile {
    display: block !important;
  }
}

/* ======================= KEAMANAN ======================= */

.KeamananBg {
  position: relative;
}

.Keamanan {
  padding-top: 5rem;
}

.KeamananImg {
  position: absolute; 
  left: 60%;
  transform: translateX(-50%);
  z-index: 1;
  width: 85%;
  height: 280px !important;
}

.Keamanan h3 {
  font-family: Montserrat, sans-serif;
  color: #cfebff;
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.Keamanan .Title{
  font-family: Montserrat, sans-serif;
  color: #ffffff !important;
  font-size: 52px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 8px;
}

.Keamanan p {
  font-family: Montserrat, sans-serif;
  color: #cfebff !important;
  font-size: 21px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 1px;
}

.grid-button { 
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.keamanan-btn {
  border: 2px solid #118ee9;
  color: #118ee9;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  background-color: white;
}

.custom-card-mobile {
  display: none !important;
}

.KeamananMobile {
  display: none !important;
}

@media (max-width: 981px) {
  .custom-card-desktop {
    display: none !important;
  }

  .custom-card-mobile {
    display: block !important;
  }

  .KeamananDesktop {
    display: none !important;
  }

  .KeamananMobile {
    display: block !important;
  }

}


/* ======================= TESTIMONI ======================= */

.testimonial-section {
  background: #f2f8ff;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  max-width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
}

.testimonial-text {
  flex: 1;
  height: 700px;
  font-size: 1.1rem;
  color: #222;
  transition: opacity 0.5s ease;
}

.testimonial-photo img {
  width: 600px;
  height: 700px;
  border-radius: 20px;
  transition: opacity 0.5s ease;
  max-width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
}

.btn-nav {
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  float: right;
  font-size: 1.2rem;
  margin-top: 30px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.quotation {
  font-size: 120px;
  font-weight: 700;
  height: 80px;
  width: 50px;
  color: #bfbfbf;
}

/* ======================= FOOTER ======================= */

.to-top-button {
  float: right;
  margin-top: -1.2rem;
}

.footer-border {
  background-color: #fff;
  height: 1px;
  width: 95%;
  margin: 48px 0;
}

.main-footer li a:hover {
  color: rgb(229, 229, 229) !important;
}